.wrapper-l{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: auto;
}
.info{
    box-shadow: 0 0 20px 0 rgb(0 0 0 /10%);
    padding: 20px;
    border-radius: 8px;
    visibility: hidden;
}
.fetchLocation button{
    padding: 10px;
    font-size: 18px;
    width: auto;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0;
    background-color: #581b98;
    color: #ffffff;
}
.reload button{
    padding: 10px;
    font-size: 18px;
    width: auto;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0;
    color: #581b98;
    box-shadow: 0 0 20px 0 rba(0 0 0 /10%);;
}
.fetchLocation button i,.reload button{
    margin-left: 5px;
}
.info p{
    font-size: 30px;
    margin: 20px 0;
    font-weight: bolder;
    color: #581b98;
}
li{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #2f89fc;
    margin-bottom: 10px;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}
li span{
    color: black;
}